html, body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: url(../img/bg.jpg) 30% 30% no-repeat;
    background-size: cover;
    background-attachment: fixed
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 0 4px rgba(0, 0, 0, .18);
    height: 100px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(255, 255, 255, .4);
    padding: 0 30px;
    padding-top: 40px;
    height: calc(100% - 140px);
}

main .github{
    background: #f7f7f7;
    padding: 10px;
    border-radius: 76px;
    width: fit-content;
    position: absolute;
    bottom: 15px;
    left:0;
    right:0;
    margin: 0 auto;
}

main .github a{
    color: rgba(0, 0, 0, .8);
    text-decoration:none
}